.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.img {
  height: 200px;
  width: 200px;
  margin: 16px;
  display: inline-block;
}

img {
  height: 200px;
  width: 200px;
  margin: 16px;
  display: inline-block;
}

.desc_button {
  height: 200px;
  width: 200px;
  font-family: fantasy;
  font-size: relative;
  color: black;
  background-color: firebrick;
}

